
/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('~lucide-static/font/Lucide.css');
/*Imports*/

/*Universal*/
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(218, 218, 218);
    color: #53a8b6;
    font-family: "Nunito";
    font-weight: bolder;
    font-style: normal;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

input{
    border-radius: 15px;
    border: transparent;
}

form{
    margin: 25px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

select{
    border: transparent;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
}

.btn-edit, .btn-delete, .btn-suspend {
    background-color: #394e70;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    padding: .5rem .6rem;
    text-align: center;
    text-decoration: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    touch-action: manipulation;
    margin: 1rem;
}

.btn-edit:hover, .btn-delete:hover, .btn-suspend:hover {
    background-color: #53a8b6;
    color: #fff;
}

input[type="text"]{
    text-align: center;
}

a{
    line-height: 1.3;
    font-weight: bolder;
    text-decoration: none;
}

/*Nav Bar*/
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    background: white;
    inset: 0;
    width: 100%;
    height: fit-content;
    z-index: 1;
    animation: slidein 1s ease-in-out;
}

.navcontainer{
    background-color: #3a7983;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.logocontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Logo{
    color: white;
    font-size: 25px;
    margin-top: 5px;
    animation: appear 2s ease-in-out;
}

.linkcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 75%;
    animation: appear 2s ease-in-out;
}

#link{
    display: flex;
    flex-direction: row;
    background-color: #3a7983;
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-left: 2rem;
}

#link a{
    color: #ffffff;
}

#link:hover, #link a:hover{
    background-color: #53a8b6;
    color: white;
}

.dropdowncontainer {
    display: none;
    position: fixed;
    top: 3rem; 
    right: 2rem;
    background-color: #53a8b6;
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    background-color: #53a8b6;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.dropdown .material-symbols-outlined{
    color: white;
}

@media screen and (max-width: 1200px) {
    .linkcontainer {
        display: none; 
    }

    .dropdowncontainer {
        display: block; 
        position: absolute;
        top: 0.7rem; 
        right: 1rem; 
        width: fit-content;
    }

    .sidelink{
        display: none;
        flex-direction: column;
        translate: -12%;
    }

    .sidelink a:hover{
        color: black;
    }

    .dropdowncontainer:hover .sidelink{
        display: flex;
        flex-direction: column;
        width: 20%;
        animation: grow 0.1s;
    }

    #Logo{
        margin-top: 0;
    }
}
/*Nav Bar*/

/*User Management*/
table{
    background-color: #53a8b6;
    padding: 25px;
    border-radius: 20px;
    color: white;
}

thead{
    color: rgb(253, 245, 172);
}

th{
    border: #3a7983 solid;
    border-radius: 10px;
    padding: 5px;
}

td{
    border: #3a7983 solid;
    border-radius: 10px;
    padding: 5px;
}

a{
    color: white;
}
/*User Management*/